.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.name {
  margin: 0;
  margin-left: 20px;
}